*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    min-height: 70vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), transparent), url(/static/dog.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.background{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
nav{
    display: flex;
    padding: 3.7% 1.5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
    cursor: pointer;
    left: 10%;
}
.nav-links{
    flex: 2;
    text-align: right;
}
.nav-links ul{
    flex: 2;
    text-align: right;
    padding-right: 15px; 
    font-size: 15px;
    font-family: sans-serif;
}
.nav-links ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    position: relative;
}
.nav-links ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #bebebe, #d2d2d2);
    border-radius: 3px, 3px;
    transition: width 0.25s;
}
a:hover{
    color: rgb(0, 0, 0);
}
.nav-links ul li a:hover:after{
    width: 100%;
}
.adopt{
    width: 30%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
}
.adopt h2{
    font-size: 60px;
    font-weight: 1000;
    background-color: rgba(255, 255, 255, 0.212);
    color: white;
}
.adopttext{
    width: 42%;
    margin: auto;
    text-align: center;
}
.adopttext p{
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.411);
}
fieldset{
    width: 60%;
    margin: 5% auto;
    align-content: center;
}
.donationtext p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.411);
}
#adoptionorm .form{
    top: 180px;
    padding: 10px;
    align-items: center;
}
#adoptionform h2{
    text-align: center;
    align-content: center;
    font-size: 32px;
    font-weight: 600;
    color: black;
    padding-top: 10px;
}
#adoptionform .name{
    width: 20%;
    padding: 20px, 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
}
#adoptionform .email{
    width: 45%;
    padding: 20px, 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
}
#adoptionform .email2{
    width: 45%;
    display: none;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 18px;}
#adoptionform .address{
    width: 20%;
    padding: 20px, 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
}
#adoptionform #myNumtwo{
    width: 45%;
    padding: 20px, 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
}
#adoptionform #myNum{
    width: 10%;
    padding: 20px, 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
}
.texttwo{
    font-family: sans-serif;
    font-size: 20px;
}
#adoptionform .others{
    width: 40%;
    padding: 20px, 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
}
.purpose, .type, .currency:required:invalid{
    color: rgb(102, 102, 102);
}
option[value=""][disabled]{
    display: none;
}
option{
    color: black;
}
#adoptionform .purpose, .type{
    width: 15%;
    padding: 20px, 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
}
#adoptionform .income{
    width: 20%;
    padding: 20px, 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
}
#adoptionform .paymentmethod{
    width: 40%;
    padding: 20px, 10px; 
    outline: none;
    background-color: transparent;
    text-align: left;
    font-size: 22px;
    margin-left: 17%;
}
#adoptionform .amount{
    width: 20%;
    padding: 20px, 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
}
#adoptionform .currency{
    width: 20%;
    padding: 20px, 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
}
textarea{
    margin-left: 30px;
    margin-bottom: 30px;
    width: 90%;
    height: 10vh;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    resize: none;
}
.textthree{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
}
.adopt-btn{
    width: 10%;
    padding: 10px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, #e58c8a, #eec0c6);
    color: white;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
.adopt-btn a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}    
footer{
    margin-top: 5%;
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #707070, #333333);
    color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 18px;
    line-height: 20px;
}
.row{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.logo{
    width: 225px;
} 
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col p{
    padding-top: 20px;
    font-size: 20px;
    text-align: left;
}
.col h3{
    width: fit-content;
    position: relative;
    font-size: 24px;
}
.col2{
    flex-basis: 25%;
    padding-top: 62px;
}
.col2 h3{
    width: fit-content;
    margin-bottom: 42px;
    position: relative;
    font-size: 24px;
}
.col2 p{
    padding-top: 20px;
    font-size: 20px;
}
.col2 ul{
    list-style: none;
}
.col2 ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
.col2 ul li a:hover{
    color: rgba(0, 0, 0, 0.582);
}
.col2 h5{
    font-size: 20px;
}
.col3{
    flex-basis: 25%;
    padding-top: 62px;

}
.col3 h3{
    width: fit-content;
    margin-bottom: 42px;
    position: relative;
    font-size: 24px;
}
.col3 p{
    padding-top: 20px;
    font-size: 20px;
}
.col3 a{
    text-decoration: none;
    color: white;
}
.col3 a:hover{
    color: black;
    text-decoration: underline;
}
.col3 h5{
    font-size: 20px;
}
.scrolltop{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    cursor: grab;
    border-radius: 50%;
}
.scrolltop{
    position: fixed;
    bottom: 800px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: rgb(73, 73, 73) url(/static/up2white.png);
    border-radius: 50%;
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.scrolltop.active{
    visibility: visible;
    opacity: 1;
    bottom: 40px;
}