*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), transparent), url(/static/4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.background{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
nav{
    display: flex;
    padding: 3.7% 1.5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
    cursor: pointer;
    left: 10%;
}
.nav-links{
    flex: 2;
    text-align: right;
}
.nav-links ul{
    flex: 2;
    text-align: right;
    padding-right: 15px; 
    font-size: 15px;
    font-family: sans-serif;
}
.nav-links ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    position: relative;
}
.nav-links ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #bebebe, #d2d2d2);
    border-radius: 3px, 3px;
    transition: width 0.25s;
}
a:hover{
    color: rgb(0, 0, 0);
}
.nav-links ul li a:hover:after{
    width: 100%;
}
.about{
    width: 23%;
    margin: auto;
    text-align: center;
    padding-top: 200px;
}
.about h2{
    font-size: 60px;
    font-weight: 1000;
    background-color: rgba(255, 255, 255, 0.212);
    color: white;
}

#address{
    margin: 5%;
    justify-content: left;
    text-align: justify;
}
#address h2{
    font-size: 28px;
    font-weight: 800;
}
#address h5{
    font-size: 24px;
    font-weight: 300;
}
#number{
    margin: 5%;
    justify-content: left;
    text-align: justify;
}
#number h2{
    font-size: 28px;
    font-weight: 800;
}
#number h5{
    font-size: 26px;
    font-weight: 300;
}
#email{
    margin: 5%;
    justify-content: left;
    text-align: justify;
}
#email h2{
    font-size: 28px;
    font-weight: 800;
}
#email h5{
    font-size: 26px;
    font-weight: 300;
}
footer{
    margin-top: 5%;
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #707070, #333333);
    color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 18px;
    line-height: 20px;
}
.row{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.logo{
    width: 225px;
} 
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col p{
    padding-top: 20px;
    font-size: 20px;
    text-align: left;
}
.col h3{
    width: fit-content;
    position: relative;
    font-size: 24px;
}
.col2{
    flex-basis: 25%;
    padding-top: 62px;
}
.col2 h3{
    width: fit-content;
    margin-bottom: 42px;
    position: relative;
    font-size: 24px;
}
.col2 p{
    padding-top: 20px;
    font-size: 20px;
}
.col2 ul{
    list-style: none;
}
.col2 ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
.col2 ul li a:hover{
    color: rgba(0, 0, 0, 0.582);
}
.col2 h5{
    font-size: 20px;
}
.col3{
    flex-basis: 25%;
    padding-top: 62px;

}
.col3 h3{
    width: fit-content;
    margin-bottom: 42px;
    position: relative;
    font-size: 24px;
}
.col3 p{
    padding-top: 20px;
    font-size: 20px;
}
.col3 a{
    text-decoration: none;
    color: white;
}
.col3 a:hover{
    color: black;
    text-decoration: underline;
}
.col3 h5{
    font-size: 20px;
}
.scrolltop{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    cursor: grab;
    border-radius: 50%;
}
.scrolltop{
    position: fixed;
    bottom: 800px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: rgb(73, 73, 73) url(/static/up2white.png);
    border-radius: 50%;
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.scrolltop.active{
    visibility: visible;
    opacity: 1;
    bottom: 40px;
}