*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    min-height: 100vh;
    background-image: url("/static/clock.png");
    background-color: rgba(95, 95, 95, 0.747);
    background-position: center;
    background-size: cover;
    position: relative;
}
.background{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
nav{
    display: flex;
    padding: 3.7% 1.5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
    cursor: pointer;
    left: 10%;
}
.nav-links{
    flex: 2;
    text-align: right;
}
.nav-links ul{
    flex: 2;
    text-align: right;
    padding-right: 15px; 
    font-size: 15px;
    font-family: sans-serif;
}
.nav-links ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    position: relative;
}
.nav-links ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #bebebe, #d2d2d2);
    border-radius: 3px, 3px;
    transition: width 0.25s;
}
a:hover{
    color: rgb(0, 0, 0);
}
.nav-links ul li a:hover:after{
    width: 100%;
}
.textijtext{
    align-content: center;
    align-items: center;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 50px;
}
.textijtext h3{
    font-size: 60px;
    text-align: center;
    font-weight: 680;
}
.textijtext h5{
    font-size: 35px;
    text-align: center;
    font-weight: 5000;
}